{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>HealthyMind</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	</head>
	<body>
    <div class="navbar justify-content-center">
        <a href="home" class="active">Home</a>
        <a href="test" class="navbtn">Test</a>
        <a href="results" class="navbtn">Result</a>
        <a href="logout" class="logoutbtn">Logout</a>
    </div>
	<section class="ftco-section">
		<div class="container">
            <div class="row justify-content-center">
                <h3>HealthyMind</h3>
            </div>
			
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-10">
					<div class="login-wrap p-4 p-md-5">
						
						<h3 class="text-center mb-4">ABOUT HealthyMind</h3>
                        <br/>
						<p>
							The Healthy Mind application  is an entertaining and educational psychology based app. The app is based in both the fields of psychology and psychiatry using computer science algorithms and involves the subject of personality disorders and personality traits. Psychology and psychiatry currently recognize ten clinical personality disorders. These include narcissistic personality disorder, borderline personality disorder, schizoid personality disorder, paranoid personality disorder and others.
							<br/>
							This app presents the user with a series of  questions in the form of an open-ended questionnaire. The embedded test takes about 10-20  minutes to complete and is very easy to understand. Each question as a minimal limit of 70 characters for completing 
							<br/>
							Upon completion of the test the user is presented with a detailed chart describing which of the personality clusters the user has the most in common with and therefore possesses the most traits of that particular disorder. It also informs the user which disorders he is least like.
							<br/>
							Although based in the legitimate sciences of psychiatry and psychology the test is not meant to be a diagnostic tool. It does however provide some “food for thought” and make for an interesting exercise.
							<br/>
							So are you more of a narcissist? or do you lean towards being histrionic or borderline?
							<br/>
							Do you have schizoid traits? or are you more of a schizotypal?
							<br/>
							Well now you can find out just how eccentric you actually are and where you lean when it comes to psychiatry's classification of personality disorders.
							<br/>
							If you have comments or questions regarding the app feel free to contact us at augustingireada@yahoo..com
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

